
<div class = "container">
  <div class="col-md-12 ">
    <div class= "row text-center">
      <h1 > My Page </h1>
      <small > <%= current_user.name %> </small>
    </div>
    <div class="row t-list">
      <%# render partial: 'items/item', collections: @items if @items.present? %>
      <%= render @items %>
    </div>
    <div class= "row todo-form">
      <%= render partial: 'items/form', locals: {user: @user, item: @new_item } %>
    </div>
  </div>
</div>


