
<div class="container">
  <p>
    <em>Strikeitoff</em> is a todo list app. It aims to keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days. 
  </p>
</div>