<div class="container">
  <ul>
    <li id="item-<%=item.id %>">
        <%= link_to "", [@user,item], method: :delete, class: 'glyphicon glyphicon-check check-sqr', remote: true %>
         <%= item.name %>
         <small> <em> <%= item.days_left %>  days left</em></small>
    </li>
  </ul>
</div>
